// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// colors
$white: #fff;
$light-gray: #f0f0f0;
$gray: #c5c3c8;
$dark-gray: #a1a1a1;

$primary-100: #dedddf;
$primary-200: #ead4F7;
$primary-300: #8e8593;
$primary-400: #6448fe;
$primary-500: #600594;
$primary-600: #4b146b;
$primary-700: #3c1056;
$primary-800: #2d0c40;
$primary-900: #21092f;

$danger: #cc0000;

// panel
$max-panel-height: 900px;
$max-panel-width: 1440px;

// cards
$card-height: 245px;
$card-width: 447px;
$card-height-mobile: 157px;
$card-width-mobile: 286px;
